*{
    color: white;
}

.header{
    background-color: black;
    padding: 18px 0 19px 0;
}

.container{
max-width: 1160px;
width: 100%;
margin: 0 auto;
}

.header_container{
    display: flex;
    justify-content: space-between;
}

.header_logo{
    margin: 0 41px 0 0;
}

.header_nav a:not(:last-child){
    margin: 0 33px 0 0;
}

.promo{
    background-color: #f1e4e6;
    margin: 0 0 20px 0;
}

.promo_container{
    min-height: 764px;
    display: flex;
    justify-content: flex-end;
    background: url("img/man.png") no-repeat;
    background-position: -230px bottom;
    align-items: center;
}

.promo_text{
width: 40%;
border-left:  12px solid #f16d7f;
padding: 0 0 0 30px;
}

.promo_text h1{
    margin: 0;
    padding: 0;
    color: black;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo_text h1 span{
    font-size: 32px;
}

.promo_sp{
    color:black;
}

.promo_decor {
    color:#F16D7F;
}

.product_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.product_card:not(:last-child) {
    width: 360px;
    height: 260px;
    outline: 1px solid rebeccapurple;
}

.product_card:last-child{
    width: 100%;
    outline: 1px solid olivedrab;
    color: black;
}

.product_card h1,
.product_card span{
    display: block;
    text-align: center;
    font-size: 16pt;
    }

.card1_text{
    margin-top: 115px;
    line-height: 7px; 
}

.card1_text p{
    font-size: 16px;
}

.card2_text{
     margin-top: 115px;
     line-height: 7px; 
    }

.card2_text p{
    font-size: 16px;
    
}

.card3_text{
    margin-top: 115px;
    line-height: 7px;

}

.card3_text p{
    font-size: 16px;
}

.card4_text{
    margin-top: 76px;
    color: white;
    line-height: 7px;

}

.card4_text p{
    font-size: 16px;
}

.card_decor{
    color: #F16D7F;
    padding-top: 0px;
}

.card1 {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/Layer\ 43.svg);
    }

.card2{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/Layer\ 44.svg);
}

.card3{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/Layer\ 45.svg);
}

.card4{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/Layer\ 46.svg);
 height: 180px;
}

.headline{
    padding-top: 96px;
}

.p{
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 0px;
}
.p1{
    text-align: center;
    margin-top: 6px;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.box_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.box_card:not(:last-child) {
    width: 360px;
    height: 581px;
    margin-right: 30px;
    background: url(img/Background.svg);
}

.box_card:last-child{
    width: 360px;
    height: 581px;
    background: url(img/Background.svg);
    } 

.box_text{
    height: 116.65px;
   max-width: 314.74;
    margin-left: 16.46px;
    margin-top: 25.35px;
    margin-right: 28.8px;
}

.box_header{
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.box_p{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.box_price{
    margin-top: 18px;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.button_browse{
   min-height: 47px;
    min-width: 211px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background: #F16D7F;
    border: 1px solid #FF6A6A;
}   

.button_text{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer{
    margin-top: 95.5px;
}

.footer_top{
    min-height: 341px;
    background-color: black;
    }

.footer_top_position{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer_top_menu{
    min-height: 134px;
    width: 360px;
    padding-top: 103px;
    text-align: center;
}

.footer_top_heading{
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    padding-top: 28.07px;
}

.footer_top_text{
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    padding-top: 16px;
}

.footer_body{
    height: 448px;
    width: auto;
    background: url('img/photo\ subscribe.jpg')  no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.footer_subcribe_input{
    display: flex;
    justify-content: center;
}

.footer_body_subscribe{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;   
}

.footer_body_subcribe_left{
    margin-top: 86.59px;
    height: 225px;
    width: 359.45px;
    text-align: center;
}

.footer_body_subcribe_left_text{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;

}

.footer_body_subcribe_left_text span{
    font-style: italic;
    color: black;
}

.footer_body_subcribe_right{
    margin-top: 100px;
    margin-left: 126.26px;
    height: 142px;
    width: 557px;
    text-align: center;
}

.footer_body_subcribe_right_top{
    font-size: 24px;
    text-align: center;
    color: #222224;
    margin-bottom: 0;
    font-weight: bolder;
}

.footer_body_subcribe_right_text {
    size: 8px;
    text-align: center;
    color: black;
}

input::placeholder{
    text-align: center;
}

.subcribe_input{
height: 49px;
width: 256px;
background: #E1E1E1;
border-radius: 20px 0px 0px 20px;
border: none;
}

.subcribe_input:focus{
outline: none;
background-color: gray;
color: white;
transition: all 1s;
}

.subcribe_button{
    height: 49px;
    width: 100px;
    background-color:  #F16D7F;
    border-radius: 0px 20px 20px 0;
    border: none;
    }

.subcribe_button:hover{
    cursor: pointer;
    opacity: 0.6;
    transition: all 1s;
}   

.footer_lower{
    background-color: black;
    min-height: 79px;
}

.footer_lower_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
}

.footer_copy{
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    }

.footer_basement {
    margin-bottom: 23px;
    margin-right: 35 px;
}

   
/* Страница Catalog */

.pagination {
    display: flex;
    justify-content: center;
}
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
  
  .pagination a:hover:not(.active) {background-color: #ddd;
}

.nav{
    height: 148px;
    width: 100%;
    background-color: #F8F3F4;
}

.nav_container{
    display: flex;
    justify-content: space-between;
}

.nav_left{
padding-top: 30px;
}

.nav_left_text{
    font-size: 24px;
line-height: 29px;
color: #F16D7F;
}

.nav_right{
   padding-top: 55px;
   display: flex;
    justify-content: center;
    align-items: center;
}

.nav_right a, span {
    font-size: 14px;
line-height: 17px;
color: #636363;
text-decoration: none;
}

.nav_right span{
    padding-left: 5px;
    padding-right: 5px;
}


.nav_right_a3{
    font-size: 14px;
line-height: 17px;
color: #F16D7F;
}

.headline_menu{
    /* margin-top: 51px; */
    display: flex;
    justify-content: flex-start;
    margin-bottom: 74px;
}

.headline_menu_filter{
    display: flex;
}
.headline_menu_filter p{
    font-size: 14px;
line-height: 17px;
color: #000000;
}

.menu_p{
    color: green;
}

.headline_menu_center{
    display: flex;
 margin-left: 33%;


}

.headline_menu_center p{
    font-size: 14px;
line-height: 17px;
color: #6F6E6E;
}

 .menu_center_box{
     padding-right: 10px;
     display: flex;
     justify-content: space-between;
 }

 

 /* Страница Product */

.headline{
    padding-top: 0px;
}

.headline_top{
    background: #F7F7F7;
    display: flex;
    justify-content: space-between;

}

.headline_top_box_left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headline_top_box_right{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.picture_product{
    padding-top: 10.5px;
    padding-bottom: 42px;

}

.headline_button{
background: #2A2A2A26;
width: 43px;
height: 43px;
display: flex;
align-items: center;
justify-content: center;
}

.headline_info{
    border: 1px solid #EAEAEA;
    position: relative;
    margin-top: -90px;
    background-color: #FFFFFF;
    margin-bottom: 129px;
}

.headline_top_heading{
    font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #F16D7F;
display: flex;
justify-content: center;
width: auto;
height: auto;
padding-top: 64.54px;
padding-bottom: 12.1px;
}

.heading_top_line{
background: #EF5B70;
height: 3.03px;
width: 63px;
margin-left: 48%;
}

.headline_heading{
    width: auto;
    height: auto;
    font-weight: 300;
font-size: 18px;
line-height: 22px;
color: #4D4D4D;
display: flex;
justify-content: center;
padding-top: 12.1px;
}

.heading_text{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    height: 51.43px;
    width: 555px; 
    margin-left: 28%;
}

.headline_price{
    font-weight: 300;
font-size: 24px;
line-height: 29px;
color: #EF5B70;
height: auto;
width: auto;
display: flex;
justify-content: center;
padding-top: 32.27px;
padding-bottom: 65.04px;
}

.headline_line{
    border: 1px solid #EAEAEA;
width: 640px;
margin-left: 25%;
}

.headline_menu_product{
    display: flex;
padding-bottom: 49.91px;
  justify-content: center;

}

.menu_box_product{
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.menu_box_product p {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    height: auto;
    width: auto;
}
.menu_box_link{
    padding-left: 10px;
    padding-top: 16%;
}

.headline_button_product{
    margin-left: 41%;
   margin-bottom: 65px;
    border: 1px solid #FF6A6A;
    width: 211px;
    height: 47.4px;
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.headline_button_picture{
    padding-top: 6%;
    padding-left: 11%;
}

.headline_button_product p{
    font-size: 16px;
line-height: 19px;
color: #F26376;
align-items: center;

}


